@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1709 Garrison St NE<br />
    Olympia, WA 98506<br />
    <abbr title="Phone">P:</abbr>
    360.870.8345
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:austinfh@hotmail.com">austinfh@hotmail.com</a><br />
</address>