@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron" style="background-color:#61380B">
        <h1>BeanTrax</h1>
        <p class="lead">BeanTrax is an online application to record your coffee roasting, analize your data and create the perfect cup of coffee.</p>
       @* <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4" style="background-color:#8A4B08">
            <h2>Create</h2>
            <p>
                Create an account to get strated.
            </p>
           @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4" style="background-color:#8A4B08">
            <h2>Capture</h2>
            <p>Capture your data as you roast.</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4" style="background-color:#8A4B08">
            <h2>Analize</h2>
            <p>Analize your data for perfect your roast.</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>